<h3>Lista de cobros</h3>
<br>
<div class="container" style="height: 20rem; overflow-y: auto">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Placa</th>
        <th>Tipo</th>
        <th>Fecha Ingreso</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vehiculos; let i=index" name="tr">
        <td>{{item.placa}}</td>
        <td>{{item.tipo}}</td>
        <td>{{item.fechaAMostrar}}</td>
        <button type="button" id="{{item.placa}}" class="btn btn-dark" name ="botonRetirar"(click)="registrarSalida(item.placa)">Retirar</button>
      </tr>
    </tbody>
  </table>
</div>